<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- add more Metadata -->
    <meta name="keywords" content="barberhood, events, beauty, barber, barbershop, Ireland">
    <meta name="author" content="BarberHood">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="/static/style.css">
    <!-- Title -->
    <title>BarberHood</title>
</head>

<body>
    <header class="header">

    </header>

    <main class="main">
        <h1>Hello</h1>
    </main>

    <footer class="footer">

    </footer>
    <script src="https://kit.fontawesome.com/fe20b2e8a3.js" crossorigin="anonymous"></script>
</body>

</html>